body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

#party {
    z-index: 1;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 100px;
    height: 100px;
}